
@{
    ViewBag.Title = "書籍推薦";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/01.jpg"
                 style="width:250px;height:270px;" />
            <div class="caption">
                <h4>原子習慣</h4>
                <p>售價:261元</p>
                <p>
                    <a href="https://www.books.com.tw/products/0010822522?loc=P_0019_001"
                       class="btn btn-primary">了解更多</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/02.jpg"
                 style="width:200px;height:270px;" />
            <div class="caption">
                <h4>致富心態</h4>
                <p>售價:356元</p>
                <p>
                    <a href="https://www.books.com.tw/products/0010882259"
                       class="btn btn-primary">了解更多</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/03.jpg"
                 style="width:250px;height:270px;" />
            <div class="caption">
                <h4>灰階思考</h4>
                <p>售價:316元</p>
                <p>
                    <a href="https://www.books.com.tw/products/0010888435?loc=P_0019_004"
                       class="btn btn-primary">了解更多</a>
                </p>
            </div>
        </div>
    </div>
</div>

